{% extends "base.html" %}
{#{% load staticfiles %}#}
{% block content %}

<div class="container">

<form method="post" novalidate>
  {% csrf_token %}

  {% if form.non_field_errors %}
    <ul>
      {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}

<h4>Pipe Data</h4>

<table border="1" class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Description</th>
      <th scope="col">Value</th>
      <th scope="col">Unit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Pipe Outside Diameter (OD)</td>
      <td>{{ form.pipe_outside_diameter }}</td>
      <td>Inch</td>
    </tr>
  </tbody>
    <tbody>
    <tr>
      <td>Pipe Wall Thickness (t)</td>
      <td>{{ form.pipe_wall_thickness }}</td>
      <td>Inch</td>
    </tr>
  </tbody><tbody>
    <tr>
      <td>Pipe Density</td>
      <td>{{ form.pipe_density }}</td>
      <td>lb/ft<sup>3</sup></td>
    </tr>
  </tbody><tbody>
    <tr>
      <td>Corrosion Allowance</td>
      <td>{{ form.corrosion_density }}</td>
      <td>Inch</td>
    </tr>
  </tbody>
</table>

<br>

<h4>External Coating Data</h4>

<table border="1" class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Coating No.</th>
      <th scope="col">Description</th>
      <th scope="col">Thickness (Inch)</th>
      <th scope="col">Density (lb/ft<sup>3</sup>)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>FBE</td>
      <td>{{ form.external_coating_thickness }}</td>
      <td>{{ form.external_coating_density }}</td>
    </tr>
  </tbody>
</table>

<br>

<h4>Pipeline Contents Data</h4>

<table border="1" class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Description</th>
      <th scope="col">Content</th>
      <th scope="col">Density (lb/ft<sup>3</sup>)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Installation Empty</td>
      <td>Air</td>
      <td>{{ form.installation_empty_air }}</td>
    </tr>
  </tbody>
    <tbody>
    <tr>
      <td>Flooded</td>
      <td>Water</td>
      <td>{{ form.flooded_water }}</td>
    </tr>
  </tbody><tbody>
    <tr>
      <td>Hydrotest</td>
      <td>Sea Water</td>
      <td>{{ form.hydrotest_sea_water }}</td>
    </tr>
  </tbody>
</table>

  <button type="submit" class="btn btn-secondary">Calculate</button>

</form>

</div>
<br>

{% endblock %}
